/* .card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    
} 
*/

.card img {
    width: 135px;
    height: 135px;
   
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}


.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.card {
    border: none;
}



.animate {
    transition: all 0.3s ease-in-out;
}