<div class="container mt-5">
    <div class="card">
        <h5 class="card-header">Source code</h5>
        <div class="card-body">
            
            <a href="https://github.com/cswirl/DatingApp.git" target="_blank" rel="noopener noreferrer">
                <code>https://github.com/cswirl/DatingApp.git</code>
            </a>
        </div>
    </div>

    <br><br>
    <div class="card">
        <h5 class="card-header">Technology Stack</h5>
        <div class="card-body">
            <div class="d-flex justify-content-center mt-2 mb-5">
                <h3><span class="badge badge-secondary">C#</span></h3>
                <h3><span class="badge badge-secondary">TypeScript</span></h3>
                <h3><span class="badge badge-secondary">HTML 5</span></h3>
                <h3><span class="badge badge-secondary">CSS</span></h3>
                <h3><span class="badge badge-secondary">BootStrap</span></h3>   
            </div>

            <div class="">
                <app-large-card></app-large-card>
            </div>
            
        </div>
    </div>

    <!-- <h2>Technology Stack</h2>
    <div class="d-flex justify-content-center mt-2 mb-5">
        <h2><span class="badge badge-primary">C#</span></h2>
        <h2><span class="badge badge-secondary">TypeScript</span></h2>
        <h2><span class="badge badge-success">HTML 5</span></h2>
        <h2><span class="badge badge-danger">CSS</span></h2>
        <h2><span class="badge badge-warning">BootStrap</span></h2>   
    </div> -->

    <!-- <div class="lang text-center">
        <img src="./assets/logo/prog-lang.png" alt="Technology Stack">
    </div> -->
    
</div>

<!-- <div class="container ml-5">
    <app-large-card></app-large-card>
</div> -->