<div class="container mt-5">
    <div class="d-flex flex-row">
        <div class="p-2"><h4>Source code : </h4></div>
        <div class="p-2">
            <a href="https://github.com/cswirl/DatingApp.git">
            <code>https://github.com/cswirl/DatingApp.git</code></a>
        </div>
    </div>
    
    <br>
    <h2>Technology Stack</h2>
    <div class="lang text-center">
        <img src="./assets/logo/prog-lang.png" alt="Technology Stack">
    </div>
</div>

<div class="container ml-5">
     <app-large-card></app-large-card>
</div>